:root {
  --brand-color: #267DB0;
  --background-color: #fff;
  --text-color: #333;
  --alternate-color: #E5E5E5;
  --alternate-color--text: #3e3e3e;
  --alternate-color-darker: #7e7e7e;
  --alternate-color-darker--text: var(--background-color);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: #fff;
    --brand-color: #7cbde3;
    --alternate-color: #000;
    --alternate-color--text: #757575;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h4 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--brand-color);
}

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--brand-color);
  margin-top: 0;
}

h3, .h3 {
  font-family: "Amatic SC", cursive;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
}

h5 {
  font-size: 1.2rem;
  font-style: 400;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 1.85rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1.4rem;
  }
}

a:link,
a:visited {
  color: var(--brand-color);
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

/**
 * Formulaires
 */
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="email"],
input[type="url"],
textarea {
  background-color: var(--background-color);
  border: 1px solid var(--alternate-color-darker);
  border-radius: 3px;
  color: var(--alternate-color-darker);
  font-size: 1rem;
  padding: .5rem;
  width: 100%;
}

textarea {
  min-height: 5rem;
}

input:user-invalid,
textarea:user-invalid {
  border-color: red;
}

form p label {
  cursor: pointer;
  display: block;
}

small.required {
  color: var(--alternate-color-darker);
}

button,
button[type="button"] {
  background-color: var(--alternate-color);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem 2rem;
}

button[type="submit"] {
  background-color: var(--brand-color);
  color: var(--alternate-color-darker--text);
}


header.main-header {
  background-color: var(--background-color);
  box-shadow: 1px 1px 3px #00000066;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-header .logo {
  color: var(--text-color);
  height: 44px;
  max-width: 144px;
  vertical-align: middle;
}

nav.main-navigation {
  background: var(--background-color);
  list-style: none;
  margin-right: 15px;
}

nav.main-navigation > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  nav.main-navigation > ul {
    display: flex;
  }
}

nav.main-navigation a {
  font-weight: bold;
  margin-left: 1em;
  text-decoration: none;
  white-space: nowrap;
}

  @media screen and (max-width: 767px) {
    nav.main-navigation a {
      display: block;
      padding: .5rem;
      text-align: right;
    }
  }

nav.main-navigation a:hover,
nav.main-navigation a:active {
  text-decoration: underline;
}
.home-grid {
}

.background-image2 {
  vertical-align: middle;
  object-fit: contain;
}

.infos a {
  border: solid white;
}


/**
 * STYLES GÉNÉRAUX
 */
main:not(.full-page) {
  margin: 4em auto; /* centre horizontalement le bloc par rapport à son parent */
  padding: 0 2em;
  min-height: calc(85vh - 8em);
  max-width: 880px;
}

/**
 * COMPAGNONNAGE / STRUCTURES
 */
.compagnonnage-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 10rem;
  height: min(50vh, 512px);
  text-align: right;
}

.compagnonnage-header,
.compagnonnage-header .content {
  position: relative;
}

.compagnonnage-header .content {
  margin: 2rem;
}

@media screen and (min-width: 992px) {
  .compagnonnage-header .content {
    margin-right: 20vw;
  }
}

.compagnonnage-header {
  background-color: var(--alternate-color-darker);
  background-size: cover;
  background-position: center center;
}
.compagnonnage-header :where(h1, h2, h3) {
  color: #fff;
  margin: 0 0 1rem 0;
  text-shadow: 1px 1px 1px var(--alternate-color--text);
}

 .compagnonnage-menu ul {
   color: var(--brand-color);
   display: flex;
   flex-direction: column;
   list-style: none;
   margin: 0;
   padding: 2rem;
  }

  .compagnonnage-header + .compagnonnage-menu ul {
    background-color: var(--brand-color);
    color: var(--background-color);
  }

  @media screen and (min-width: 768px) {
    .compagnonnage-menu ul {
      flex-direction: row;
      justify-content: center;
      gap: 1.5em;
      text-align: center;
    }

    .compagnonnage-menu li {
      /* on contraint les éléments de menu à tenir dans 150px, sans s'agrandir */
      flex: 0 1 150px;
    }
  }

    .compagnonnage-next-page a,
    .compagnonnage-menu a {
      color: currentColor;
      display: block;
      text-decoration: none;
    }

    .compagnonnage-next-page a:hover,
    .compagnonnage-next-page a:active,
    .compagnonnage-menu a:hover,
    .compagnonnage-menu a:active {
      text-decoration: underline;
    }
      .compagnonnage-next-page .icon,
      .compagnonnage-menu .icon {
        color: currentColor;
        display: block;
        flex-shrink: 0;
        height: 30px;
        margin: 0 .5rem;
        width: 30px;
      }

      .compagnonnage-next-page a {
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: center;
      }

      @media screen and (max-width: 767px) {
        .compagnonnage-menu a {
          display: flex;
          align-items: center;
          padding: .5rem 1rem;
        }
      }

      @media screen and (min-width: 768px) {
        .compagnonnage-menu .icon {
          margin: 0 auto 1em;
        }
      }

      @media screen and (min-width: 992px) {
        .compagnonnage-menu .icon {
          height: 60px;
          width: 60px;
        }
      }

    .compagnonnage-next-page {
      color: var(--brand-color);
      font-weight: 400;
      margin-top: 3em;
      text-align: center;
    }
      .compagnonnage-next-page a {
        margin: 0 auto;
        position: relative;
      }

/**
 * CARTE STRUCTURES
 */
#structures-carte {
  height: 500px;
  width: 100%;
}
.maplibregl-popup-content {
  background-color: var(--brand-color);
  color: var(--alternate-color-darker--text);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: var(--brand-color);
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: var(--brand-color);
}

.maplibregl-popup-content h3 {
  font-size: 2.5em;
  margin: 0;
}

.maplibregl-popup-content a:link,
.maplibregl-popup-content a:visited {
  color: currentColor;
}

button.maplibregl-popup-close-button {
  background-color: transparent;
  color: currentColor;
  font-size: 1.5rem;
  padding: 1rem;
}

/**
 * Contact
 */

#success:target {
  display: block;
}
#success:target + form[name="contact"]{
  display: none;
}

footer {
  background-color: var(--alternate-color);
  color: var(--alternate-color--text);
  padding: 1.5em;
  text-align: center;
}

footer a {
  color: var(--alternate-color--text);
  margin-right: 5px;
}
footer a:hover,
footer a:active {
  color: var(--alternate-color-darker);
  text-decoration: none;
}

@media (max-width: 740px) {
  section,
  header {
    padding: 20px;
  }
}

#email_test{
  display: none;
}

/**
* Blocs de la page d'accueil
*/

.bloc-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/3BY_7325 1.jpg");
  background-size: cover;
  color: #fff;
  min-height: 750px;
  max-height: 750px;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;
}



p.intro{
  text-align: center;
  max-width: 450px;
}


.bloc-1 h2 {
  border-radius: 50% 50%;
  flex: 0 0 220px;
  background-color: #fffb;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-grid .logo {
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  .bloc-1 h2 {
    flex: 0 0 338px;
    width: 338px;
  }

  .home-grid .logo {
    max-width: 300px;
  }
}

.bloc-2 {
  background-color: var(--brand-color);
  color: var(--alternate-color-darker--text);
}

  .bloc-2 > * {
    max-width: min(360px, 100%);
  }

  .bloc-2 h2 {
    color: var(--alternate-color-darker--text);
    margin-bottom: 0; /*Modif par Yann le 31/01/23 suite à changement du texte du paragraphe */
  }

  /*
  .bloc-2 p:not(:last-child) {
   padding: 1em 0; 
  }
  Modif par Yann le 31/01/23 suite à changement du texte du paragraphe */

  .bloc-2 p {
    padding: 0; 
  }

a.cta {
  border: 3px var(--brand-color) solid;
  color: var(--brand-color);
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
  .page-home a.cta {
    border-color: currentColor;
    color: currentColor;
  }

.bloc-3 {
  background-color: var(--background-color);
  color: var(--brand-color);
}

.bloc-3 h2 {
  color: var(--brand-color);
}

/* ce bloc est réutilisé sur la page d'accueil, et la page contact */
.documents {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1em;
  padding: 0;
}

  @media screen and (max-width: 767px) {
    .documents {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
    }

    .documents a {
      display: flex;
      align-items: center;
    }

    .documents a small {
      margin-left: .5rem;
    }

    .documents .icon {
      margin-right: .5rem;
      height: 30px;
      width: 30px;
    }
  }


  @media screen and (min-width: 768px) {
    .documents {
      display: flex;
      justify-content: center;
      list-style: none;
      gap: 2em;
      padding: 0;
    }

    .bloc-3 .documents {
      flex-wrap: wrap;
      max-width: min(380px, 100%);
    }

    .documents > * {
      max-width: 100px;
    }

    .documents a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .documents .icon {
      margin-bottom: .5em;
      height: 80px;
      width: 80px;
    }
  }

  .documents a {
    text-decoration: none;
  }

  .documents a:hover,
  .documents a:focus {
    text-decoration: underline;
  }

.bloc-4 {
  background-color: var(--alternate-color-darker);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/compaRepas-07\ 1.jpg);
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  padding: 40px 0 40px 0;

}

p.repas {
  font-weight: bold;
}

p.parag-2{
  padding: 40px 0 40px 0;
}

.bloc-4 > div {
  flex-basis: 90vw;
}

@media screen and (min-width: 768px) {
  .bloc-4 > div {
    flex-grow: 0;
    flex-basis: min(400px, 50%);
  }
}

@media screen and (max-width: 375px) {
  .bloc-4 div.reseau {
    display: none;
  }
}

.bloc-4 div.reseau {
  flex-basis: 200px;
}

.acronyme {
  margin: 0;
}

.acronyme strong {
  font-size: 30px;
  color: var(--alternate-color-darker);
  background-color: white;
  padding: 5px;
  display: inline-block; /* comme ça on peut contrôler la largeur de l'élément */
  margin-right: 5px;
  text-align: center;
  vertical-align: sub;
  width: 1em;
}

@media (min-width: 426px) {
  .home-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .home-grid > * {
    width: 100%;
  }

  .bloc-2,
  .bloc-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    justify-content: center;
    width: 50%;
  }
}

/*
 * Témoignages
 */
main.temoignages > ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.temoignages li h2{
  color: currentColor;
}

.temoignages li{
  grid-column: span 2;
  padding: 2rem;
  text-align: left;
}

main.temoignages li iframe {
  margin: 0 -2rem -2rem; /* astuce pour regagner l'espace laissé libre par le padding du `li` parent */
  width: calc(100% + 4rem); /* astuce pour forcer une taille qui prend en compte la marge négative ajoutée à la ligne ci-dessus */
}

.temoignages li:nth-child(1){
  display: flex;
  flex-direction: column;
  grid-column: span 4;
}

.temoignages li:nth-child(3){
  grid-column: 1 / span 6;
}

.temoignages li:nth-child(4){
 grid-row: span 2;
}

.temoignages li:nth-child(5),
.temoignages li:nth-child(6){
  grid-column: span 4;
}

.temoignages li:nth-child(7),
.temoignages li:nth-child(8){
  grid-column: span 3;
}

.temoignages li:nth-child(3),
.temoignages li:nth-child(6) {
  background-color: var(--brand-color);
  color: var(--background-color);
}

.temoignages li:nth-child(1),
.temoignages li:nth-child(5),
.temoignages li:nth-child(7) {
  background-color: var(--alternate-color);
}

.temoignages li:nth-child(2),
.temoignages li:nth-child(4),
.temoignages li:nth-child(8) {
  background-color: var(--alternate-color-darker);
  color: var(--background-color);
}

.temoignages li:nth-child(2),
.temoignages li:nth-child(7),
.temoignages li:nth-child(8) {
  text-align: right;
}



/**
 * Calendrier
 */
 .calendrier,
 .calendrier ul {
   list-style: none;
   padding: 0;
 }

 .calendrier > li {
   padding: 2rem;
 }

 /* la première ligne */
 .calendrier > li:first-child {
   color: var(--brand-color);
 }

 /* une ligne sur 2 (2n) à partir du 3ème élément (+2) */
 .calendrier > li:nth-child(2n+2) {
   background-color: var(--alternate-color);
   color: var(--alternate-color--text);
 }
   .calendrier > li:nth-child(2n+2) h2 {
     color: var(--alternate-color--text);
   }

 /* une ligne sur 2 (2n) à partir du 3ème élément (+3) */
 .calendrier > li:nth-child(2n+3) {
   background-color: var(--brand-color);
   color: var(--alternate-color-darker--text);
   text-align: center;
 }
   .calendrier > li:nth-child(2n+3) h2 {
     color: var(--alternate-color-darker--text);
   }

   .calendrier .colonnes {
     align-items: center;
   }

 .calendrier h2,
 .calendrier h3,
 .calendrier h4 {
   margin: 0;
 }

 .calendrier h2 + p,
 .calendrier h3 + p,
 .calendrier h4 + p {
   margin-top: 0;
 }

 /**
  * Contact
  */
 .page-contact > .colonnes > * {
   padding: 2rem;
 }

 .page-contact .form {
   background-color: var(--alternate-color);
   border-radius: .5rem;
   flex: 1 0 55%;
 }

 .page-contact .documents {
   margin-top: 1.5rem;
 }

 /**
  * Utilitaires
  * Des classes à réutiliser partout
  */
 @media screen and (min-width: 992px) {
   .colonnes {
     display: flex;
     justify-content: space-between;
     gap: 1rem;
   }
 }
