{% if order %}
{% for page in collections.compagnonnage %}
  {% if page.data.order === (order+1) %}
  <p class="compagnonnage-next-page">
    <a href="{{ page.url | url }}">
      <svg class="icon" aria-hidden>
        <use xlink:href="{{ '/img/icones.svg' | url }}#{{ page.data.header.icone }}"></use>
      </svg>

      <span>{{ page.data.header.subtitle }}</span>

      <svg class="icon" aria-hidden>
        <use xlink:href="{{ '/img/icones.svg' | url }}#next_page"></use>
      </svg>
    </a>
  </p>
  {% endif %}
{% endfor %}
{% endif %}
