{% if r/\/compagnonnage/.test(page.filePathStem) or includeMenu %}
  <nav class="compagnonnage-menu">
    <ul>
    {% set currentPage = page %}
    {% for page in collections.compagnonnage %}
      <li><a href="{{ page.url | url }}"{% if page.fileSlug === currentPage.fileSlug %} aria-current="page"{% endif %}>
        <svg class="icon">
          <use xlink:href="{{ '/img/icones.svg' | url }}#{{ page.data.header.icone }}"></use>
        </svg>

        <span>{{ page.data.header.subtitle }}</span>
      </a></li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}
