<ul class="documents">
  <li>
    <a href="{{ '/pdf/dossier_de_candidature.pdf' | url }}" target="_blank" >
      <svg class="icon">
        <use xlink:href="{{ '/img/icones.svg' | url }}#inscription"></use>
      </svg>

      Dossier d'inscription
      <small>(PDF, 0,5Mo)</small>
    </a>
  </li>
  <li>
    <a href="{{ '/pdf/intercalaire.pdf' | url }}" target="_blank" >
      <svg class="icon">
        <use xlink:href="{{ '/img/icones.svg' | url }}#calendrier_sans"></use>
      </svg>

      Calendrier du parcours
      <small>(PDF, 0,4Mo)</small>
    </a>
  </li>
  <li>
    <a href="{{ '/pdf/202106_Fiches_Structure.pdf' | url }}" target="_blank">
      <svg class="icon">
        <use xlink:href="{{ '/img/icones.svg' | url }}#fiches_structures"></use>
      </svg>
      Structures accueillantes
      <small>(PDF, 5,1Mo)</small>
    </a>
  </li>
  <li>
    <a href="{{ '/pdf/2022_Kit_Com.zip' | url }}" target="_blank">
      <svg class="icon">
        <use xlink:href="{{ '/img/icones.svg' | url }}#kitcom_photos"></use>
      </svg>

      Kit Com'
      <small>(ZIP, 7,2Mo)</small>
    </a>
  </li>
  <li>
    <a href="{{ '/pdf/2022_01_05_Revue_presse_Compagnonnage_REPAS_hyperlinkv2.pdf' | url }}" target="_blank">
      <svg class="icon">
        <use xlink:href="{{ '/img/icones.svg' | url }}#revue_presse"></use>
      </svg>

      Revue de presse
      <small>(PDF, 0,4Mo)</small>
    </a>
  </li>
  <li>
    <a href="{{ '/pdf/2022_01_16_Référentiel_péda.pdf' | url }}" target="_blank">
      <svg class="icon">
        <use xlink:href="{{ '/img/icones.svg' | url }}#referenciel_peda"></use>
      </svg>

      Référentiel pédagogique
      <small>(PDF, 1,2Mo)</small>
    </a>
  </li>
</ul>
