<footer aria-label="Pied de page du site">
  <a href="http://editionsrepas.free.fr/" target="_blank">Éditions REPAS</a>
  <a href="http://www.reseaurepas.free.fr/" target="_blank">Réseau REPAS</a>
  <!--<a href="http://www.levielaudon.org/" target="_blank">Le Viel Audon</a>-->
  <!--<a href="https://www.ardelaine.fr/" target="_blank">Ardelaine</a>-->
  •
  <a href="{{ '/mentions-legales/' | url }}">Mentions légales</a>
  <a href="{{ '/credits/' | url }}">Crédits</a>
  <a href="{{ '/contact/' | url }}">Contact</a>
</footer>
