<header class="main-header" aria-label="Bandeau d'entête">
  <a href="{{ '/' | url }}" rel="home">
    <svg class="logo" aria-hidden>
        <title>Le compagnonnage</title>
        <use xlink:href="{{ '/img/logo-compagnonnage-repas.svg' | url }}#logo"></use>
      </svg>
  </a>

  <nav class="main-navigation" aria-label="Menu de navigation principal">
    <ul>
      <li><a href="{{ '/compagnonnage/' | url }}"{% if r/^\/compagnonnage\//.test(page.url) %} aria-current="page"{% endif %}>Le Compagnonnage</a></li>
      <li><a href="{{ '/le-reseau/' | url }}"{% if r/^\/le-reseau\//.test(page.url) %} aria-current="page"{% endif %}>Le Réseau R.E.P.A.S.</a></li>
      <li><a href="{{ '/association/' | url }}"{% if r/^\/association\//.test(page.url) %} aria-current="page"{% endif %}>L'association</a></li>
      <li><a href="{{ '/contact/' | url }}"{% if r/^\/contact\//.test(page.url) %} aria-current="page"{% endif %}>Nous contacter</a></li>
    </ul>
  </nav>
</header>
