---
siteTitle: Compagnonnage R.E.P.A.S.
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="{{ '/img/3BY_7325 1.jpg' | url }}" as="image">
    <link rel="preload" href="{{ '/img/logo-compagnonnage-repas.svg' | url }}" as="image">
    <link rel="preload" href="{{ '/img/icones.svg' | url }}" as="image">
    <link rel="preload" href="{{ '/img/marker.png' | url }}" as="image">
    {% if header.image %}<link rel="preload" href="{{ header.image | url }}" as="image">{% endif %}
    <title>{{ title }} {% if description %}— {{ description }} {% endif %}— {{ siteTitle }}</title>
    <link rel="stylesheet" href="{{ '/css/maplibre-gl.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="google-site-verification" content="SiqVbdqpZqL90N5VTDDr_4Ey9K1powkOzf0EFE89nvM">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Why `defer`? https://flaviocopes.com/javascript-async-defer/#with-defer-in-the-head -->
    <script defer src="{{ '/js/maplibre-gl.js' | url }}"></script>
    <script defer src="{{ '/js/structures-carte.js' | url }}"></script>
  </head>

  <body>
    {% include "header.njk" %}

    <!-- see https://css-tricks.com/apply-a-filter-to-a-background-image/ -->
    {% if header %}
    <header class="compagnonnage-header" {% if header.image %} style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url({{ header.image | url }})"{% endif %}>
      <div class="content">
        <h1>{{ title }}</h1>
        {% if header.subtitle %}<h2>{{ header.subtitle }}</h2>{% endif %}
      </div>
    </header>
    {% endif %}

    {# le menu Compagnonnage est affiché uniquement sur les pages contenues dans le répertoire 'pages/compagnonnage' #}
    {% include "compagnonnage-menu.njk" %}

    <main class="page-{{page.fileSlug | default('home', true) }} {{ mainClass }}" aria-label="Contenu principal">
      {# 'content' correspond au contenu d'un fichier transformé en HTML, et présent dans le répertoire 'pages' #}
      {{ content | safe }}

      {% include "compagnonnage-nav.njk" %}
    </main>

    {% include "footer.njk" %}
  </body>
</html>
