---
title: Compagnonnage R.E.P.A.S.
order: 3
header:
  icone: calendrier_sans
  image: /img/iconographie/calendrier.jpg
  subtitle: Déroulement & Calendrier
dates:
  reception: 16 octobre 2024
  selection: 17 octobre 2024
  R1: du 30 janvier au 6 février 2025
  phase_decouverte: du 10 février au 20 avril 2025
  R2: du 27 avril au 5 mai 2025
  phase_experimentation: du 12 mai au 4 juillet 2025
  R3: les 6 et 7 juillet 2025
---

<ol class="calendrier">
  <li class="reception">
    <h2>Réception des candidatures</h2>
    <p>jusqu’au {{ dates.reception }} (qu’on ait le temps de les lire !)</p>

    <ul class="colonnes">
      <li><a href="{{ '/pdf/dossier_de_candidature.pdf' | url }}" target="_blank" class="cta">Dossier de candidature</a></li>
      <li>
        <h4>Sélection des candidatures</h4>
        <p>le {{ dates.selection }}</p>
      </li>
    </ul>
  </li>

  <li>
    <h2>R1 : 1er Regroupement</h2>
    <p>{{ dates.R1 }}</p>

    <ul class="colonnes">
      <li>
        <h3>La Rencontre</h3>

        <p>
          Constitution du groupe par la rencontre entre les
          compagnon.ne.s et le comité de pilotage à travers des
          temps de chantier, d’échanges et d’animations qui
          viennent questionner notre rapport au collectif,
          à la société, au travail.
        </p>
      </li>
    </ul>
  </li>

  <li>
    <h2>Phase de découverte</h2>
    <p>{{ dates.phase_decouverte }}</p>

    <ul class="colonnes">
      <li>
        <h3>Groupe Action Collectif</h3>

        <p>
          Les compagnon.ne.s vivent et travaillent en
          collectif en menant un chantier auprès d’une
          structure accueillante.
        </p>
      </li>
      <li class="h3">et</li>
      <li>
        <h3>Immersion en Structure</h3>
        <p>
          Les compagnon.ne.s s’immergent dans un collectif existant
          en prenant part aux activités des structures accueillantes.
        </p>
      </li>
    </ul>
  </li>

  <li>
    <h2>R2 : 2ème Regroupement</h2>
    <p>{{ dates.R2 }}</p>

    <ul class="colonnes">
      <li>
        <h3>Bilan individuel &amp; collectif</h3>

        <p>
          Retours sur les expériences individuelles
          et collectives menées pendant la phase de
          découverte. Echanges de Pratiques.
          <br>
          Co-construction collective de la la suite des parcours.
        </p>
      </li>
    </ul>
  </li>

  <li>
    <h2>Phase d’expérimentation</h2>
    <p>{{ dates.phase_experimentation }}</p>

    <ul class="colonnes">
      <li>
        <h3>Groupe Action Collectif</h3>

        <p>
          Les compagnon.ne.s vivent et travaillent en collectif
          en menant un chantier auprès d’une structure accueillante.
        </p>
      </li>
      <li class="h3">ou</li>
      <li>
        <h3>Immersion en Structure</h3>
        <p>
          Les compagnon.ne.s s’immergent dans un collectif existant
          en prenant part aux activités des structures accueillantes.
        </p>
      </li>
    </ul>
  </li>

  <li>
    <h2>R3: 3ème Regroupement</h2>
    <p>{{ dates.R3 }}</p>

    <ul class="colonnes">
      <li>
        <h3>Bilan de la Pédagogie</h3>

        <p>
          Le but de ce temps est de nourrir les futurs compagnonnages.
        </p>
      </li>
    </ul>
  </li>
</ol>
