---
title: Contact
---

{% set email = ('contact@compagnonnage-repas.org' | antiSpam | safe) %}

<div class="colonnes">
  <form name="contact" class="form" action="https://formspree.io/f/mzbozbpe" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact">

    <h2>Contactez-nous</h2>

    <p id="success" hidden>
      Message envoyé.
    </p>

    <div class="colonnes">
      <p>
        <label for="contact-prenom">Prénom <small class="required">(obligatoire)</small></label>
        <input type="text" autocomplete="given-name" name="first_name" id="contact-prenom" required>

      </p>

      <p>
        <label for="contact-nom">Nom</label>
        <input type="text" autocomplete="family-name" name="last_name" id="contact-nom">
      </p>
    </div>

    <div class="colonnes">
      <p>
        <label for="contact-email">Email <small class="required">(obligatoire)</small></label>
        <input type="email" autocomplete="email" name="email" id="contact-email" required>
        <input id="email_test" type="text" name="_gotcha" />
      </p>

      <p>
        <label for="contact-telephone">Téléphone</label>
        <input type="tel" autocomplete="tel" name="telephone" id="contact-telephone">
      </p>
    </div>

    <p>
      <label for="contact-message">Message <small class="required">(obligatoire)</small></label>
      <textarea id="contact-message" name="message" required></textarea>
    </p>





    <p>
      <button type="submit">Envoyer</button>
    </p>
  </form>

  <aside>
    <h2>Adresse Postale</h2>

    <p>
      <address>
        Association Compagnonnage R.E.P.A.S.<br>
        Lauconie 19150 CORNIL
      </address>
    </p>

    <hr>

    <p>
      <abbr title="Nota bene">NB</abbr> : Pour toute demande, merci de
      nous envoyer un mail via le formulaire de contact ou
      en nous écrivant à
      <a href="mailto:{{email}}">{{email}}</a>
      en laissant vos coordonnées.<br>
      Nous vous contacterons dès que possible !
    </p>
  </aside>
</div>

{# le contenu est géré dans '_includes/documents.html' #}
{# il est partagé avec la page 'index.html' #}
{% include "documents.html" %}