---
title: Parcours itinérant pour agir en collectif
mainClass: full-page
---

<div class="home-grid">
  <section class="bloc-1">
    <h2>
      <img class="logo" src="{{ '/img/logo-compagnonnage-repas.svg' | url }}" alt="Le compagnonnage REPAS">
    </h2>

    <p class="intro">
      Le compagnonnage REPAS est un parcours itinérant de 6 mois.
      Il s’adresse à des personnes désireuses de comprendre
      et d’expérimenter les enjeux et conditions d’existence
      de structures expérimentant différentes formes d’autogestion.
    </p>

    <p>
      <a class="cta" href="{{ '/compagnonnage/' | url }}">Plus d'infos</a>
    </p>
  </section>

  <section class="bloc-2">
    <div align="left">
    <h2>L’association Compagnonnage R.E.P.A.S</h2>
    <p>
      Portée par le comité de pilotage,
      l’association mène le portage du parcours.
    </p>
    <div>
      <a href="{{'/association/' | url}}" class="cta">
        Plus d'infos
      </a>
    </div>
    </div>

    <div align="right">
    <br>
    <h2>NOUS SOUTENIR</h2>
    <p>
      Envie de nous aider à porter le compagnnonage en participant financièrement ?
    </p>
    <div>
      <a href="https://www.helloasso.com/associations/compagnonnage-repas/formulaires/1/widget" target="_blank" class="cta">
        Notre page HelloAsso
      </a>
    </div>    
    </div>
  </section>

  <section class="bloc-3">
    <h2>Ressources &amp; livrables</h2>

    {# le contenu est géré dans '_includes/documents.html' #}
    {# il est partagé avec la page 'contact.html' #}
    {% include "documents.html" %}
  </section>

  <section class="bloc-4">

    <div>
      <p class="repas">
        Mais le R.E.P.A.S. c’est quoi ?
      </p>
      <p class="parag-2"> Le <strong> R.E.P.A.S.</strong> est un réseau informel composé
        d’entreprises coopératives, associations et lieux de vie engagés
        de façon permanente dans la concrétisation d’un projet de société
      </p>
      <p>
        <a href="{{ '/le-reseau/' | url }}" class="cta"> En savoir plus</a>
      </p>
    </div>

    <div class="reseau">
      <p class="acronyme">
        <strong>R</strong>éseau
        d'
      </p>

      <p class="acronyme">
        <strong>E</strong>changes & de
      </p>
      <p class="acronyme">
        <strong>P</strong>ratiques
      </p>
      <p class="acronyme">
        <strong>A</strong>lternatives et
      </p>
      <p class="acronyme">
        <strong>S</strong>olidaires
      </p>
    </div>





  </section>

</div>
